:where(html) {
  --dark: #272727;
  --light: #f1ebdd;
  --blue: #bbdfdb;
  --green: #cef6df;
  --red: #f4c8af;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--blue);
  background-image: repeating-linear-gradient(85deg, var(--light), var(--light) 4px, var(--blue) 4px, var(--blue));
  background-size: 4rem 4rem;
  color: var(--dark);
  font-family: 'Azeret Mono', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  border: 4px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
  border-radius: 1rem;
  z-index: 1;
}
.deco {
  pointer-events: none;
}
.title {
  font-size: 1.25rem;
  pointer-events: none;
}

main {
  position: relative;
  height: calc(100vh - 12.25rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
main .content {
  display: flex;
  flex-direction: column;
}
.result {
  padding: 4rem;
  max-width: 32ch;
  font-size: 2.5rem;
  cursor: pointer;
}
.controls {
  padding: 4rem;
  display: flex;
  gap: 2rem;
}
button {
  margin: .5rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  background: var(--red);
  border: 4px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
  border-radius: 1rem;
  color: var(--dark);
  font-family: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: all .25s linear;
}
button:hover {
  background: var(--light);
}
button:focus {
  transform: scale(0.9)
}
button svg {
  height: 2rem;
  fill: var(--dark);
}

footer {
  width: 100%;
  height: 12rem;
  background: var(--light);
  border-top: 4px solid var(--dark);
}
footer .content {
  padding: 2rem;
}
footer p {
  max-width: 60ch;
  font-size: small;
}
.total-words {
  border-bottom: 2px solid var(--dark);
}

.suggestions-provider {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  cursor: pointer;
}
.suggestions {
  position: absolute;
  top: 3rem;
  right: 0;
  padding: 1rem;
  width: 30em;
  max-height: 50vh;
  display: none;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background: var(--light);
  border: 4px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
  border-radius: 1rem;
  overflow-y: auto;
  z-index: 9;
}
.suggestions-provider:focus-within .suggestions {
  display: flex;
}
.suggested-name {
  font-size: 1.25rem;
  transition: all .25s linear;
}
.suggested-name:hover {
  transform: scale(1.1);
}

.tooltip {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: var(--green);
  border: 4px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
  border-radius: 1rem;
  animation: fade 4s linear forwards;
  pointer-events: none;
}
@keyframes fade {
  0% {
    top: 1rem;
    opacity: 0;
  }
  10% {
    top: 5rem;
    opacity: 1;
  }
  90% {
    top: 5rem;
    opacity: 1;
  }
  100% {
    top: 1rem;
    opacity: 0;
  }
}

@media screen and (max-width: 60em) {
  header {
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    border-bottom: 4px solid var(--dark);
    box-shadow: 0 4px 0 var(--dark);
    border-radius: 0;
  }
  .suggestions {
    width: unset;
    border-radius: 1rem;
  }
  main {
    height: calc(100vh - 9.25rem);
  }
  .result {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .controls {
    padding: 1rem;
  }
  button {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  button svg {
    height: 1.5rem;
  }  
  .snapshot {
    display: none;
  }
  footer {
    width: 100%;
    height: 9rem;
    background: var(--light);
    border-top: 4px solid var(--dark);
  }
  footer .content {
    padding: 1rem;
  }
  footer p {
    max-width: 60ch;
    font-size: x-small;
  }
}